<header>
  <img class="img-responsive center-block" alt="foto" [src]="headerInfo.foto">
  <div class="text-center">
    <h1>{{headerInfo.name}}</h1>
  </div>
  <hr>
  <div class="container">
    <p><i class="fa fa-briefcase header-margin-right fa-fw"></i>{{headerInfo.especialidad}}</p>
    <p><i class="fa fa-home header-margin-right fa-fw"></i>{{headerInfo.ciudad}}</p>
    <p><i class="fa fa-envelope header-margin-right fa-fw"></i>{{headerInfo.correo}}</p>
    <p><i class="fa fa-whatsapp header-margin-right fa-fw"></i>+{{headerInfo.whatsApp}}</p>
    <hr>
    <p class="w3-large"><b><i class="fa fa-asterisk header-margin-right fa-fw"></i>Skills</b></p>
    <app-skills
    [skillInfo] = 'skill_Info'
    *ngFor='let skill_Info of skillInfos'
    ></app-skills>
  </div>
</header>