.col-md-4 {
    border: solid 1px transparent;
    margin: 20px 0px;
    border-radius: 10px;
    padding: 0px;
    color: #9e9e9e!important;
}

.col-md-8 {
    border: solid 1px transparent;
    margin: 20px 0px;
    border-radius: 10px;
    padding: 0px;
    color: #9e9e9e!important;
}