.container{
    max-width: 1600px;
    margin: auto;
}

.alert-danger {
    color: rgb(47, 79, 79);
    background-color: rgba(47, 79, 79, 0.3);
    border-color: rgba(47, 79, 79, 0.5);
}

.alert {
    margin-bottom: 0px;
    margin-top: 20px;
    border-radius: 0px;
}

@media (min-width: 1450px) {
    .container{
        width: 1400px;
    }
}