.col-md-4 {
    border: solid 1px transparent;
    margin: 20px 0px;
    border-radius: 10px;
    padding: 0px;
    color: #9e9e9e!important;
}

.col-md-8 {
    border: solid 1px transparent;
    margin: 20px 0px;
    border-radius: 10px;
    padding: 0px;
    color: #9e9e9e!important;
}

.container{
    max-width: 1600px;
    margin: auto;
}

.alert-danger {
    color: rgb(47, 79, 79);
    background-color: rgba(47, 79, 79, 0.3);
    border-color: rgba(47, 79, 79, 0.5);
}

.alert {
    margin-bottom: 0px;
    margin-top: 20px;
    border-radius: 0px;
}

@media (min-width: 1450px) {
    .container{
        width: 1400px;
    }
}